<div class="">
    <div class="navlinks">
        <a [routerLink] = "['browse']">Browse</a>
        <a [routerLink] = "['listings']">My Listings</a>
        <a [routerLink] = "['logout']">Logout</a>
    </div>
    <div class="search-container">
        <label>Search:
        <input type="text" [(ngModel)]="search.input" name="search" value="">
        <button type="button" name="button" (click) = "searchForBike()">Search</button></label>
    </div>
    <div class="bike-dashboard">
        <app-bike-dashboard [bikes] = "bikes"></app-bike-dashboard>
    </div>
</div>
