<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Results</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="results">
            <p>Submitted Information</p><br>
            <div class="info">
                Name: <span class="right"><%= name %></span><br>
                Dojo Location: <span class="right"><%= location %></span><br>
                Favourite Language: <span class="right"><%= lang %></span><br>
                Comment: <span class="right"><%= comment %></span><br>

            </div>
            <div class="back">
                <a href="/">Back</a>
            </div>
        </div>
    </body>
</html>
