<div class = "header">
    <h1>Dojo Mail</h1>
</div>
<div class="emails">
    <table>
        <tr>
            <th>Email</th>
            <th>Importance</th>
            <th>Subject</th>
            <th>Context</th>
        </tr>
        <tr *ngFor = "let object of emails">
            <!-- Looping through the emails and then
            pulling the exact piece of info we want in
            each table cell -->
            <td>{{ object.email }}</td>
            <td>{{ object.importance }}</td>
            <td>{{ object.subject }}</td>
            <td>{{ object.context }}</td>
        </tr>
    </table>
</div>
