<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wolf Pack</title>
        <!-- <link rel="stylesheet" href="wolf.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="title">
                Wolves: Meet the Pack
            </div>
            <div class="main">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Identification Sheet</th>
                        <th>Leave Pack</th>
                    </tr>
                    <% for (var x in wolves) { %>
                        <tr>
                            <td><%= wolves[x].name %></td>
                            <td><%= wolves[x].status %></td>
                            <td><a href="/<%= wolves[x]._id %>"><button type="button" name="button">View</button></a></td>
                            <td><a href="/destroy/<%= wolves[x]._id %>"><button type="button" name="button">Leave</button></a></td>
                        </tr>
                    <% } %>
                </table>
                <a href="/new"><button type="button" name="button">Add</button></a>
            </div>
        </div>
    </body>
</html>
