<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add</title>
        <!-- <link rel="stylesheet" href="wolf.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="title">
                Add a Pack Member
            </div>
            <div class="main">
                <form class="" action="/wolves" method="post">
                    <label>Name:</label><input type="text" name="name" value=""><br>
                    <label>Status:</label><select class="" name="status">
                        <option>Alpha</option>
                        <option>Beta</option>
                        <option>Delta</option>
                        <option>Omega</option>
                    </select><br>
                    <label>Age:</label><input type="number" name="age" value=""><br>
                    <label>Gender:</label><select class="" name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select><br>
                    <label>Color:</label><input type="text" name="color" value=""><br>
                    <input type="submit" name="submit" value="Add">
                </form>
            </div>
        </div>
    </body>
</html>
