<div class="home">
    <h3>Home Page</h3>
    <p>Welcome to Project Product Management. Here we can manage a set of products. You are able to create new products, remove old products, edit current products, and view all products. Basically, you can CRUD your products. Use the navigation bar that appears throughout the site to manuever around.</p><br>
    <p><i>Assignment: Build a product manager app in which a user may view a home page, the product list page, product creation page (with validations), and product edit page (with validations).</i></p>
</div>
