<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/login_reg.css">
    </head>
    <body>
        <div class="container">
            <div class="title">
                Welcome <%= name %>!
            </div>
            <div class="main">
                This assignment was meant to help us learn how to modularize our MEAN stack projects and practice with session. It is a basic login and registration application which stores users in a database and
                uses validations for both registration and logging the user in. We also use password hashing the bcrypt for this project.
                <a href="/logout"><button type="button" name="button">Logout</button></a>
            </div>
        </div>
    </body>
</html>
