<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add a New Car</title>
        <link rel="stylesheet" href="/stylesheets/general.css">
    </head>
    <body>
        <div class="">
            <form class="" method="post">
                <h3>Add New Car</h3>
                Car Make/Model: <input type="text" name="" value=""><br>
                Car Colour: <input type="text" name="" value=""><br>
                <input type="submit" name="" value="Submit"><br>
                <p><a href="/">Back</a></p>
            </form>
        </div>
    </body>
</html>
